@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Manrope:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  -webkit-tap-highlight-color:transparent;
}
body {
  @apply font-manrope !overflow-x-hidden;
}
.arrows {
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 23;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  background: rgb(26, 25, 25, 0.67);
  display: flex;
  align-items: center;
  justify-content: center;
  @apply shadow-lg z-10 rounded-full text-white cursor-pointer;
}

.arrow:is(:hover, :focus) {
  @apply bg-slate-400/25;
}

.arrow.arrow__left {
  left: 1rem;
}

.arrow.arrow__right {
  right: 1rem;
}

.popup {
  position: fixed !important;
  /* transform: rotateX(2deg); */
  animation-name: popup;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 10s;
  animation-fill-mode: both;
  /* animation-play-state: running; */
}
.popup:hover {
  animation-play-state: paused;
}
.pop:not(:hover) {
  animation-play-state: running;
}

@keyframes popup {
  from {
    left: -100%;
    opacity: 0;
    scale: 0.5;
  }
  20% {
    opacity: 1;
  }
  30% {
    scale: 1.2;
  }
  60%,
  70%,
  80%,
  90%,
  95% {
    scale: 1;
    left: 40px;
  }
  to {
    left: -100%;
  }
}
@media screen and (max-width: 600px) {
  @keyframes popup {
    from {
      top: -100%;
      opacity: 0;
      scale: 0.5;
    }
    20% {
      opacity: 1;
    }
    30% {
      scale: 1.2;
    }
    60%,
    70%,
    80%,
    90%,
    95% {
      scale: 1;
      top: 40px;
    }
    to {
      top: -100%;
    }
  }
}
